.buttonDisplay {
  display: grid;
  grid-template-columns: repeat(8, max-content);
}

.buttonDisplay .first-column {
  grid-column-start: 1;
}
.buttonDisplay .button {
  margin: 2px;
  padding: 4px;
  text-align: center;
}
.buttonDisplay .button.on {
  background-color: red;
  color: white;
}

.buttonDisplay .button.off {
  background-color: transparent;
  color: inherit;
}

.buttonNotes {
  border-radius: 4px;
  background-color: #e0e0e0;
}
